.Todo-App {
  background-color: #F5BF00;
  min-height: 100vh;
}

.App-header {
  text-align: center;
  min-height: 24vh;
  color: #614C00;
  font-size: 40px;
}

.todo-input {
  color:#AD9749;
  margin-bottom: calc(5px + 2vmin);
  min-height: 10vh;
}

.todoCards {
  margin-bottom: calc(5px + 2vmin);
}

.cards { 
  text-align: left;
  color: #614C00;
}

.cardButton {
  color: #614C00;
}

.centerText {
  text-align: center;
  min-height: 5vh;
  font-size: calc(10px + 2vmin);
  color: #614C00;
}

@media screen and (max-width: 600px) {
  
  .App-header {
    text-align: center;
    min-height: 12vh;
    color: #614C00;
    font-size: 25px;
  }
}


