.Todo-App {

  background-color: #c3c1c1;

}

.App-header {
  text-align: center;
  min-height: 24vh;
  font-size: calc(10px + 2vmin);
  color: rgb(76, 67, 67);
}

.todo-input {

  color:rgb(76, 67, 67);
}


.cards { 
  background-color: #f8f8f8;
  border: 1px solid black;
  width: 200px;
  height: 20px;
}

.cardButton {
  color:rgb(76, 67, 67)
}

.todoCards {
  display: inline;
}

