.Todo-App {
  text-align: center;
  background-color: #c3c1c1;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(76, 67, 67);
}

.App-link {
  color: #61dafb;
}

.todo-input {
  color:rgb(76, 67, 67);
}
